/********* Fonts **********/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}


/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}


/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a~p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}


/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
	margin-top: 10px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn>img {
	float: left;
	margin-left: 10px
}


/****** Logo Div Styling ******/

.title-img {
	margin: 0 auto;
	width: 30%;
	display: block;
}

.title-text {
	/* Styling for the 'Voting App' text */
	margin: -20px 0 20px 0;
	font: 600 55px/95% 'Roboto';
	color: #a03;
}


/****** Click Styling ******/

.btn-container {
	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {
	/* Styling for buttons */
	margin: 0 8px;
	color: #fff;
	background: #009;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {
	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {
	/* Scale the button down by 5% when clicking on button */
	-webkit-transform: scale(0.95, 0.95);
	transform: scale(0.95, 0.95);
}

.btn:hover {
	background: #00B;
	color: #fff;
}

.btn-delete {
	/* Styling for delete button */
	background: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}


/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 10px auto;
	background: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile>img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #b05;
}

.github-profile .menu:active {
	color: #a03;
}

#menu-divide {
	color: #fff;
	display: inline;
	margin: 0;
}

.user-polls {
	margin: 30px auto;
	width: 80%;
	text-align: center;
}

table {
	width: 100%;
	margin-top: -10px;
	font-size: 1.1em;
}

th {
	background: #DDF;
}

tr {
	background: #eee;
}

.viewCtrl:visited,
.delCtrl:visited {
	color: #000;
}

.viewCtrl:hover {
	color: #00b;
}

.delCtrl:hover {
	color: #b00;
}
