/********* Fonts **********/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}


/****** Main ******/

* {
	transition: 0.2s all;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	padding: 0;
}


/****** Header  ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #a03;
}

.menu:active {
	color: #c04;
}

#menu-divide {
	color: #fff;
	display: inline;
}

header a~p {
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}


/****** Login ******/

.login {
	margin: 86px auto 0 auto;
}

#login-btn {
	width: 225px;
	padding: 7px 5px;
	margin-top: 10px;
	text-transform: uppercase;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn>img {
	float: left;
	margin-left: 10px
}


/****** Logo Div ******/

.title-img {
	margin: 0 auto;
	width: 30%;
	max-width: 350px;
	display: block;
}

.title-text {
	/* Styling for the 'Voting App' text */
	margin: -20px 0 20px 0;
	font: 600 55px/95% 'Roboto';
	color: #a03;
}


/****** Buttons ******/

.btn-container {
	margin: 0 auto;
}

.btn {
	margin: 0 8px;
	color: #fff;
	background: #009;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 6px;
	padding: 10px 5px;
	font-weight: 500;
	min-width: 120px;
}

.btn:disabled {
	background: #111;
	color: #bbb;
	pointer-events: none;
	
}

.btn:focus {
	outline: none;
}

.btn:active {
	box-shadow: 0 0 5px #00F;
}

.btn:hover {
	background: #00c;
	cursor: pointer;
}

.btn-big {
	font-size: 20px;
	padding: 14px;
	margin-bottom: 20px;
}

.btn-add, .btn-rm {
	margin: 0 20px 30px 20px;
}

.btn-add {
	background: #080;
}

.btn-rm {
	background: #900;
}

.btn-add:hover {
	background: #0a0;
}

.btn-rm:hover {
	background: #b00;
}

/****** Poll Lists ******/

table {
	margin: -10px auto 0 auto;
	font-size: 1.1em;
	table-layout: auto;
	width: auto;
}

#allPolls {
	width: 80%;
	max-width: 500px;
}

#allPolls td {
	text-align: left;
}

th, td {
	padding: 1%;
}

th {
	background: #DDF;
}

tr {
	background: #eee;
}

td a {
	color: #000;
	text-decoration: none !important;
}

.viewCtrl:visited,
.delCtrl:visited {
	color: #000;
}

.viewCtrl:hover {
	color: #00b;
}

.delCtrl:hover {
	color: #b00;
}

/****** Poll Creation ******/

.create-poll {
	width: 90%;
	max-width: 720px;
	margin: 10px auto 20px auto;
	border-spacing: 3px;
}

.create-poll th {
	width: 30%;
	font-size: 1.2em;
}

input {
	border: 3px solid #fff;
	box-shadow: inset 0 0 5px #ddf;
	font-size: 1.1em;
	width: 100%;
}

/****** Poll Page ******/


#chart {
	width: 30%;
	max-height: 500px;
	max-width: 500px;
	margin: 0 auto 30px auto;
}

#noVotes {
	display: none;
}

.bottom-row {
	position: fixed;
	bottom: 0;
	text-align: center;
}

.bottom-row .btn-add {
	margin: 0 auto;
}

/****** Profile ******/

.github-profile {
	width: 300px;
	height: 150px;
	border-radius: 3px;
	margin: 5px auto;
	background: #EEE;
	color: #000;
}

.github-profile h2 {
	margin-bottom: 0;
}

.github-profile p:nth-child(4) {
	margin-bottom: 12px;
}

.github-profile p {
	margin: 0 0 0 12px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile .menu:hover {
	color: #b05;
}

.github-profile .menu:active {
	color: #a03;
}

.public {
	margin-top: 20px;
}

.private {
	display: none;
}
