/********* Fonts **********/

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main ******/

body {
	background: #eee url('https://i.imgsafe.org/92fe656655.png');
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	user-select: none;
}

header {
	height: 56px;
	margin: 0 0 14px 0;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	padding: 0;
}

/****** Header  ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	color: #727272;
	margin: 0;
	padding: 6px;
	text-decoration: none;
	transition: color .2s;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #a03;
}

.menu:active {
	color: #c04;
}

.menu-divide {
	color: #fff;
	display: inline;
}

header a~p {
	padding: 0;
	display: inline;
	color: #00b;
}

header > p > span {
	font-weight: 400;
}

/****** Login ******/

.login {
	margin: 86px auto 0 auto;
}

.btn-login {
	width: 225px;
	padding: 7px 5px;
	margin-top: 10px;
	text-transform: uppercase;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn>img {
	float: left;
	margin-left: 10px
}

/****** Logo Div ******/

.title-img {
	margin: 0 auto;
	width: 30%;
	max-width: 350px;
	display: block;
}

.title-text {
	/* Styling for the 'Voting App' text */
	margin: -20px 0 20px 0;
	font: 600 55px/95% 'Roboto';
	color: #a03;
}

/****** Buttons ******/

.btn-container {
	margin: 0 auto;
}

.btn {
	background: #009;
	border: 0;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	padding: 10px 5px;
	min-width: 120px;
	transition: background .2s, box-shadow .2s, color .2s;
}

.btn:disabled {
	background: #111;
	color: #bbb;
	pointer-events: none;
}

.btn:focus {
	outline: none;
}

.btn:active {
	box-shadow: 0 0 5px #00F;
}

.btn:hover {
	background: #00c;
	cursor: pointer;
}

.btn-big {
	font-size: 20px;
	padding: 14px;
}

.btn-add {
	background: #080;
	transition: background .2s;
}

.btn-add:hover {
	background: #0a0;
}

.btn-rm {
	background: #900;
	transition: background .2s;
}

.btn-rm:hover {
	background: #b00;
}

/****** Poll Lists ******/

.all-polls {
	margin-top: 30px;
}

table {
	margin: -10px auto 0 auto;
	font-size: 1.1em;
	table-layout: auto;
	width: auto;
}

.table-polls {
	width: 80%;
	max-width: 500px;
}

.table-polls td {
	text-align: left;
}

th,
td {
	padding: 1%;
}

th {
	background: #ddf;
}

td a {
	color: #000;
	text-decoration: none !important;
}

.ctrl-view,
.ctrl-del {
	transition: color .2s;
}

.ctrl-view:visited,
.ctrl-del:visited {
	color: #000;
}

.ctrl-view:hover {
	color: #00b;
}

.ctrl-del:hover {
	color: #b00;
}

/****** Poll Creation ******/

.create-poll {
	width: 90%;
	max-width: 720px;
	margin: 10px auto 20px auto;
	border-spacing: 3px;
}

.create-poll th {
	width: 20%;
	font-size: 1.2em;
	text-align: right;
}

.create-poll td {
	padding: 0;
}

input {
	border: 1px solid #eee;
	box-shadow: inset 0 0 15px #aaa;
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
}

/****** Poll Page ******/

canvas {
	max-height: 500px;
	max-width: 500px;
	margin: 0 auto 30px auto;
}

.no-votes {
	display: none;
}

.choices {
	background: #eee;
	font-size: 20px;
	padding: 12.5px;
	border-radius: 6px;
}

.bottom-row {
	position: fixed;
	bottom: 0;
}

.btn-add-choice {
	margin: 0 auto;
}

/****** Profile ******/

.github-profile {
	width: 300px;
	height: 150px;
	border-radius: 10px;
	margin: 5px auto;
	color: #000;
}

.github-profile h2 {
	margin-bottom: 0;
}

.github-profile p:nth-child(4) {
	margin-bottom: 12px;
}

.github-profile p {
	margin: 0;
}

.profile-value {
	font-weight: 400;
}

.profile-menu {
	margin-top: 10px;
}

span {
	font-weight: 500;
}

.github-profile .menu:hover {
	color: #b05;
}

.github-profile .menu:active {
	color: #a03;
}

.public {
	margin-top: 20px;
}

.private {
	display: none;
}

/****** For mobile devices ******/

@media (max-width: 768px) {
	.choices,
	.btn-big {
		transform: scale(0.9);
	}
	.btn-big {
		margin-bottom: 0;
	}
	.btn-add-choice {
		padding: 3px;
	}
	.create-poll {
		margin: 10px 5px;
		width: 92vw;
		font-size: 1em;
	}
}

@media (max-height: 800px) {
	.btn-add-choice {
		display: none;
	}
}